<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Guiz</title>
</head>
<body>
    <center><h1 style="font-weight: Bold;">Welcome To Guiz</h1>
    <ul>
    <li style="font-weight: Bold; color: Blue;" onclick="window.location = '/CreateQuiz'">Create Quiz</li>
    <li style="font-weight: Bold; color: Blue;" onclick="window.location = '/'">Join Quiz</li>
    <li style="font-weight: Bold; color: Blue;" onclick="window.location = '/login'">Login</li>
    <li style="font-weight: Bold; color: Blue;" onclick="window.location = '/register'">register</li>
    </ul>
</body>
</html>
