<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <center>
    <h1>Login</h1>
    <form method="POST">
        <label for="username">Username:</label>
        <input id="username" type="text" name="username"><br>
        <label for="password">Password:</label>
        <input id="password" type="password" name="password"><br><br>
        
        <input type="submit" value="Create">
    </form>
</body>
</html>
